.app{
    width:80%;
    margin:1rem;
    padding:0.5rem;
}
.app h1{
    font-size: 80px;
    margin: 0.2rem;
    padding: 2px;
    color: rgb(5, 5, 79);
    font-weight: 400;
    align-items: center;
}

.app > .card-container{
    display: inline-grid;
    justify-items: center;
    margin:1.2rem;
   
}